* {
    clear: both;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.btns {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    display: flex;
    justify-content: space-between;
    z-index: 500;
}

.btns button {
    background: rgba(0, 0, 0, 0.1);
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* ------------------------------------ */
.navbar-brand img {
    width: 125px;
}

.dropdown-menu {
    background-color: #111111;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.dropdown-item {
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.dropdown-item:hover {
    background-color: #09906f;
    color: #ffffff;
}

/* Light Mode */
.whiteMod {
    background: white;
    color: #000000;
}

.whiteMod .navbar {
    background-color: #d7dce6 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    padding: 2px;
}

.whiteMod .nav-link {
    color: #252525de;
    font-size: 17px;
    font-weight: 600;

    &:hover {
        color: #000000;
        transition: all 0.3s ease;
    }
}

.whiteMod .navbar-toggler {
    border: 2px solid #515256;
}

.darkMod {
    background: #0b0a13;
    color: #f5f8ed;
}

.darkMod .navbar {
    background-color: #1f242d !important;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.6);
    padding: 2px;

}

.darkMod .nav-link {
    color: #e1dde1;
    font-size: 17px;
    font-weight: 600;

    &:hover {
        color: #ffffff;
        transition: all 0.3s ease;
    }
}

.darkMod .navbar-toggler {
    border: 2px solid #d9dde6;
    color: #d9dde6;
}

/* أزرار تغيير الثيم */
.fa-sun {
    color: #f7d410;
}

.fa-moon {
    color: #111111;
}

/* زر الرجوع للأعلى */
#btnTop {
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 1000;
    background: #34c539;
    border: none;
    display: none;
}