* {
    margin: 0;
    padding: 0;
}

/* body {
    background: #4caf50;
    background: #ff9800;
    background: #b0bec5;
    background: #000000;
    background: #9c27b0;
    background: #f44336;
    background: #03a9f4;
    background: #303f9f;
    background: #ffffff;
    background: #1a237e;

    color: #000000;
    color: #333333;
    color: #ffffff;
    color: #1a237e;
    color: #e0e0e0;
} */

#home {
    padding: 280px 0 90px 0;
}

section {
    padding: 25px;
    border-bottom: 1px solid #ddd;
    scroll-snap-align: start;
    min-height: 90vh;
}

li {
    list-style: none;
}

.navbar-brand img {
    width: 125px;
}
/* -------------------------------- */
.dropdown-menu {
    background-color: #111111;
    border: none;
}

.dropdown-item {
    color: white;
    transition: all 0.3s ease;
}

.dropdown-item:hover {
    background-color: #ff5733;
}

/* -------------------------------- */
.card {
    min-height: 55vh !important;
}

.card:hover {
    box-shadow: 0 8px 20px #000000b9;
    transition: all 0.3s ease;
}
footer {
    background: #2b3c4d;
}
/* -------------------------------- */
.whiteMod {
    background: white;
    color: #000000;

    & section {
        padding: 25px;
        border-bottom: 2px solid #6b6565;
        scroll-snap-align: start;
    }

    & .navbar {
        opacity: 0.97;
        background-color: #d7dce6 !important;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
        z-index: 100;
        padding: 2px;

        & .nav-link {
            color: #252525de;
            font-size: 17px;
            font-weight: 600;

            &:hover {
                color: #000000;
                transition: all 0.3s ease;
            }
        }
    }
    & .navbar-toggler {
        border: 2px solid #515256;
    }
}

.darkMod {
    background: #0b0a13;
    color: #f5f8ed;

    & .navbar {
        opacity: 0.97;
        background-color: #1f242d !important;
        box-shadow: 0 2px 5px rgba(255, 255, 255, 0.6);
        z-index: 100;
        padding: 2px;

        & .nav-link {
            color: #e1dde1;
            font-size: 17px;
            font-weight: 600;

            &:hover {
                color: #ffffff;
                transition: all 0.3s ease;
                ;
            }
        }
    }
    & .navbar-toggler {
        border: 2px solid #d9dde6;
        color: #d9dde6;
    }
}

.fa-sun {
    color: #f7d410;
}

.fa-moon {
    color: #111111;
}
#btnTop {
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 1000;
    background: #34c539;
    border: none;
    display: none;
}
/* ----------------------------------------- */
.fa-facebook:hover {
    background: linear-gradient(45deg, #0a66c2, #00478f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.fa-instagram:hover {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.fa-tiktok:hover {
    background: linear-gradient(45deg, #25f4ee, #fe2c55);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.fa-x-twitter:hover {
    background: linear-gradient(45deg, #242323, #181717, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}